.sidebar{
    background: #ECECEC;
}

#btn{
    position: absolute;
    color: black;
    left: 13%;
    top: 5px;
    font-size: 15px;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar ul{
    margin-top: 30px;
}

.sidebar ul li{
    position: relative;
    height: 60px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.sidebar ul li a{
    color: #4F4F4F;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
}

.sidebar ul li a:hover{
    color: black;
    background: white;
}

.sidebar ul li a svg {
    height: 25px;
    min-width: 25px;
    margin: 0 10px;
    line-height: 50px;
    text-align: center;

}

