{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row mb-3">
        <h2><span class="nav-text">Bases de datos utilizadas</span></h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-secondary" role="alert">
              <h5 style="color: white;">Empresas inversionistas.</h5>
            </div>
            <div class="alert alert-secondary" role="alert">
              <h5 style="color: white;">Bases instalados.</h5>
            </div>
            <div class="alert alert-secondary" role="alert">
              <h5 style="color: white;">Sociedades extranjeras.</h5>
            </div>
            <div class="alert alert-secondary" role="alert">
              <h5 style="color: white;">FDI Markets.</h5>
            </div>
            <div class="alert alert-secondary" role="alert">
              <h5 style="color: white;">Gazelle.</h5>
            </div>
            <div class="alert alert-secondary" role="alert">
              <h5 style="color: white;">Consolidado FDI Markets.</h5>
            </div>
            <div class="alert alert-secondary" role="alert">
              <h5 style="color: white;">Consolidado Orbis.</h5>
            </div>
            <div class="alert alert-secondary" role="alert">
              <h5 style="color: white;">Empresas extrangeras</h5>
            </div>

        </div>
    </div>

{% endblock %}