{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row mb-3">
       <h2><span class="nav-text">Dashboard</span></h2>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="stat-widget-two card-body">
                    <div class="stat-content">
                        <div class="stat-text">Información 1</div>
                        <div class="stat-digit"> <i class="fa"></i>8500</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success w-85" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="stat-widget-two card-body">
                    <div class="stat-content">
                        <div class="stat-text">Información 2</div>
                        <div class="stat-digit"> <i class="fa "></i>7800</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary w-75" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="stat-widget-two card-body">
                    <div class="stat-content">
                        <div class="stat-text">Información 3</div>
                        <div class="stat-digit"> <i class="fa "></i> 500</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="stat-widget-two card-body">
                    <div class="stat-content">
                        <div class="stat-text">Información 4</div>
                        <div class="stat-digit"> <i class="fa "></i>650</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger w-65" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <!-- /# card -->
        </div>
        <!-- /# column -->
    </div>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Sectores con mayor crecimiento en inversión (último semestre).</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-12 col-lg-8">
                            <div id="morris-bar-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Sectores con mayor crecimiento en inversión (último semestre).</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="chart py-4">
                            <canvas id="sold-product"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- INICIO - EMPRESAS POTENCIALES-->
        <div class="col-xl-6 col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header d-block">
                    <h4 class="card-title">Empresas potenciales</h4>
                </div>
                <div class="card-body">
                    <div id="accordion-eleven" class="accordion accordion-rounded-stylish accordion-bordered">
                        <div class="accordion__item">
                            <div class="accordion__header accordion__header--primary" data-toggle="collapse" data-target="#rounded-stylish_collapseOne">
                                <span class="accordion__header--icon"></span>
                                <span class="accordion__header--text">ADM EXPORT CO.</span>
                                <span class="ml-2">Milan</span>
                                <span class="accordion__header--indicator"></span>
                                <p>Flores</p>
                            </div>
                            <div id="rounded-stylish_collapseOne" class="collapse accordion__body show" data-parent="#accordion-eleven">
                                <div class="accordion__body--text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias delectus deleniti dolorem eius expedita explicabo fugit iste itaque magnam, nihil non, officia porro, praesentium quos sed similique unde ut voluptatibus.
                                </div>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__header collapsed accordion__header--info" data-toggle="collapse" data-target="#rounded-stylish_collapseTwo">
                                <span class="accordion__header--icon"></span>
                                <span class="accordion__header--text">ASD CO.</span>
                                <span class="ml-2">Ontario</span>
                                <span class="accordion__header--indicator"></span>
                                <p>Construcción</p>
                            </div>
                            <div id="rounded-stylish_collapseTwo" class="collapse accordion__body" data-parent="#accordion-eleven">
                                <div class="accordion__body--text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at, delectus eos et eum laboriosam laborum libero nemo nesciunt, nostrum pariatur perferendis reiciendis similique sint temporibus, totam vero vitae voluptatibus.
                                </div>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__header collapsed accordion__header--success" data-toggle="collapse" data-target="#rounded-stylish_collapseThree">
                                <span class="accordion__header--icon"></span>
                                <span class="accordion__header--text">COCA COLA</span>
                                <span class="ml-2">New York</span>
                                <span class="accordion__header--indicator"></span>
                                <p>Café</p>
                            </div>
                            <div id="rounded-stylish_collapseThree" class="collapse accordion__body" data-parent="#accordion-eleven">
                                <div class="accordion__body--text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet at cum ducimus, est eum explicabo fugit libero, necessitatibus nihil odit perspiciatis placeat quasi quod quos recusandae reprehenderit saepe soluta.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN - EMPRESAS POTENCIALES-->

        <!-- INICIO- SESION DE NOTICIAS -->
        <div class="col-xl-6 col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Noticias relacionadas</h4>
                </div>
                <div class="card-body">
                    <div class="recent-comment m-t-15">
                        <div class="media">
                            <div class="media-left">
                                <a href="#"><img class="media-object mr-3" src="{% static 'images/svg/newspaper.svg' %}" alt="..."></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading ">NISSAN ANUNCIA EXPANSION EN LATIN...</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et ...   magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <p class="comment-date">10 min ago</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#"><img class="media-object mr-3" src="{% static 'images/svg/newspaper.svg' %}" alt="..."></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">FRESENIUS BUSCA  ABRIR OFICINA EN...</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et ...   magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <p class="comment-date">1 hour ago</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#"><img class="media-object mr-3" src="{% static 'images/svg/newspaper.svg' %}" alt="..."></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">ESTA ES LA BOTELLA DE COCA-COLA QUE v...</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad commodi corporis esse eveniet excepturi explicabo iure magnam maiores maxime numquam quam quidem quis reiciendis rem, sapiente soluta ut voluptates.</p>
                                <div class="comment-date">Yesterday</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN - SESION DE NOTICIAS -->
    </div>

{% endblock %}