{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}

{% block content %}
<!-- ["Copper", 8.94, "#b87333"], -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">
        google.charts.load("current", {packages:['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = google.visualization.arrayToDataTable({{cantidad_empresas_por_sector|safe}});

          var view = new google.visualization.DataView(data);
          view.setColumns([0, 1,
                           { calc: "stringify",
                             sourceColumn: 1,
                             type: "string",
                             role: "annotation" },
                           2]);

          var options = {
            width: 500,
            height: 400,
            bar: {groupWidth: "95%"},
            legend: { position: "center" },
          };
          var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
          chart.draw(view, options);
      }
    </script>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">
        google.charts.load("current", {packages:['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = google.visualization.arrayToDataTable({{ingresos_actividad_param|safe}});

          var view = new google.visualization.DataView(data);
          view.setColumns([0, 1,
                           { calc: "stringify",
                             sourceColumn: 1,
                             type: "string",
                             role: "annotation" },
                           2]);

          var options = {
            width: 500,
            height: 400,
            bar: {groupWidth: "95%"},
            legend: { position: "center" },
          };
          var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values2"));
          chart.draw(view, options);
      }
    </script>
    <div class="row mb-3">
       <h2><span class="nav-text">Dashboard</span></h2>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="stat-widget-two card-body">
                    <div class="stat-content">
                        <div class="stat-text">Empresas totales</div>
                        <div class="stat-digit"> <i class="fa"></i>{{total_empresas|intcomma}}</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="stat-widget-two card-body">
                    <div class="stat-content">
                        <div class="stat-text">Ingreso promedio</div>
                        <div class="stat-digit"> <i class="fa "></i>USD {{ingresos_promedio|intcomma}}</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="stat-widget-two card-body">
                    <div class="stat-content">
                        <div class="stat-text">Empleados promedio</div>
                        <div class="stat-digit"> <i class="fa "></i> {{empleados_promedio}}</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="stat-widget-two card-body">
                    <div class="stat-content">
                        <div class="stat-text">Paises abarcados</div>
                        <div class="stat-digit"> <i class="fa "></i>{{max_paises_abarcados|intcomma}}</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <!-- /# card -->
        </div>
        <!-- /# column -->
    </div>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Cantidad de empresas por sector.</h4>
                </div>
                <div class="card-body">
                    <div id="columnchart_values" style="width: 500px; height: 400px;"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Inversión por sector.</h4>
                </div>
                <div class="card-body">
                    <div id="columnchart_values2" style="width: 500px; height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- INICIO - EMPRESAS POTENCIALES-->
        <div class="col-xl-6 col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Empresas potenciales</h4>
                </div>
                <div class="card-body">
                    <div class="current-progress">
                        {% for empresa in empresas_potenciales%}
                            <div class="progress-content py-2">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <a href="{% url 'Analisis' empresa_param=empresa.name %}">
                                            <div class="progress-text">{{empresa.name|capfirst}} ({{empresa.source_country|capfirst}})</div>
                                        </a>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="current-progressbar">
                                            <!--
                                            <div class="progress">

                                                <div class="progress-bar progress-bar-primary w-90" role="progressbar" aria-valuenow="90" aria-valuemin="" aria-valuemax="100">
                                                    {{score|mul:100}}%
                                                </div>
                                            </div>-->
                                            <div class="progress">
                                              <div class="progress-bar" role="progressbar" style="width: {{empresa.score|mul:100}}%;" aria-valuenow="{{empresa.score|mul:100}}" aria-valuemin="0" aria-valuemax="100">{{empresa.score|mul:100}}%</div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        <!-- FIN - EMPRESAS POTENCIALES-->

        <!-- INICIO- SESION DE NOTICIAS -->
        <div class="col-xl-6 col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Noticias relacionadas</h4>
                </div>
                <div class="card-body">
                    <div class="recent-comment m-t-15">
                        {% for new in news_response|slice:":5" %}
                        <div class="media">
                            <div class="media-left">
                                <a href="{{new.link}}" data-toggle="tooltip" title="{{new.enterprise}}"><img class="media-object mr-3" src="{% static 'images/svg/newspaper.svg' %} " alt="..."></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading" data-toggle="tooltip" title="{{new.title}}">{{new.title|truncatechars:50}}</h4>
                                <p>{{new.snippet}}</p>
                                <p class="comment-date">{{new.date_published}}</p>
                                <a href="{{new.link}}" class="card-link" data-toggle="tooltip" title="{{new.source}}">Ver noticia</a>
                            </div>
                        </div>
                       {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN - SESION DE NOTICIAS -->
    </div>

{% endblock %}